.retroboard-container {

  .retroboard-title {
    margin: 10px 0 25px 0;
    font-size: 2em;
  }
}

.retrotemplate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}