.retroboard-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .retroboard-title {
    margin: 10px 0 25px 0;
    font-size: 2em;
    // color: $charcoal;
  }
}

.retrotemplate-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  
}