.template-card {
  width: 100%;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .template-name {
    font-size: 1.5em;
  }

  .add-item {
    margin: 10px 0;
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: #999;
  }
  
  .item-container {
    width: 90%;
    
    .individual-items {
      padding-top: 10px;
      border-radius: 5px;
      background-color: $teal;
      
      input {
        width: 90%;
        height: 25px;
        border: 0px solid;
        border-radius: 5px;
        background-color: transparent;
        font: $font-family;
        font-size: 1.2em;
        color: white;
        
      }
      
      ::placeholder {
        color: white;
      }
    }
  }

  .delete-arrow-container {
    margin: 10px 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;

    .item-btn {
      background-color: transparent;
      border: none;
    }
  }
}