@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables
$font-family: 'Montserrat', sans-serif;
$teal: #009588;
$salmon: #E91D63;
$purple: #9C29B0;
$charcoal: rgb(75, 75, 75);
$eggshell: rgb(250, 250, 250);
$lightgrey: rgb(230, 230, 230);


@import './Components/RetroBoard/RetroBoard';
@import './Components/RetroBoard/RetroTemplate/RetroTemplate';
@import './Components/RetroBoard/WentWell/WentWell';
@import './Components/RetroBoard/ToImprove/ToImprove';
@import './Components/RetroBoard/ActionItems/ActionItems';
@import './Components//RetroBoard//LikeButton/LikeButton';


.App {
  text-align: center;

  h1, h2, h3, h4, h5 {
    font: $font-family;
  }
}

